.user-dm {
    width: 95%;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(63, 63, 63, 0.45);
    padding: 5px 10px;
    box-sizing: border-box;
    transition: .3s;

    &:hover {
        background-color: rgba(217, 217, 217, 0.45);
    }
}

.user-dm-status {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.user-dm-avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.status {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #bebebe;
}

.status.online {
    background-color: #23a55a;
}

.status.inactive {
    border-radius: 100%;
    background-color: #ffb950;
}

.user-dm-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-dm-info p {
    margin: 0;
    color: var(--text-white);
}

.user-dm-display-name {
    font-size: 15px;
}

.user-dm-username {
    font-size: 8px;
}